table{

}

.cell{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    color: aliceblue;
    opacity: 0.7;
}
.cell:hover{
    cursor: pointer;
}
.black-bg{
    background-color: black;
}
.red-bg{
    background-color: red;
}
.green{
    border: 3px solid rgb(20, 167, 20);
}
h4{
    text-align: center;
    background-color: bisque;
}
.capital{
    opacity: 0.4;
}
.river{
    opacity: 0.4;
}
.isNextStep{
    border: 5px dashed greenyellow;
}
.screen{
    width: 200px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}
.chessman{
    opacity: 1;
}